body {
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Verdana', sans-serif;
    margin: 0;
    background-color: rgb(197, 200, 199);

    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.home-container {
    flex: 1;
    background-image: url('images/florence.jpg');
    background-size: cover;
    padding: 0 0;
    width: 100%;
    min-height: 290px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-image: url('images/logo.png');
    background-size: 60px;
    padding: 20px 20px;
    background-repeat: no-repeat;
}

header ul {
    display: flex;
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding-left: 50px;
    font-size: 16px;

}

header ul li {
    font-weight: bold;
    margin: 0 15px;

}

header ul li a {
    text-decoration: none;
    color: #51279B;
    transition: color 1s;
}

header ul li a:hover {
    color: aquamarine;
    text-shadow: 0 0 2px black;
}

.info {
    margin-left: 60px;
    margin-top: 80px;
    padding: 0 20px;
    color: white;
    text-shadow: 0 0 2px black;
}

.info h1 {
    font-size: 46px;
    margin-bottom: 0px;
}

.info p {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.info button {
    background-color: #51279B;
    color: white;
    text-shadow: 0 0 2px black;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 50px;
    transition: color 1s;
    transition: background-color 1s;
    font-size: 12px;
}

.info button:hover {
    background-color: aquamarine;
    text-shadow: none;
    color: black;
    font-weight: bold;
}

.destinations-container {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    padding: 10px;
    margin-bottom: 10px;
    /*background-color: #f0f0f0;*/
}

.card-image {
    max-height: 400px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    /* Not really in the specs, but I was playing around with different borders and I think it looks nice :)*/
}

.hidden-info {
    display: none;
}

.card {
    background-color: #f0f0f0;
    position: relative;
    border: #c9c9c9 1px solid;
    border-radius: 5px;
    transition: transform 0.3s;
    max-width: 550px;
    min-height: 100px;
    max-height: 475px;
}

.card-image {
    min-height: 150px;
}

.card a {
    text-decoration: none;
    color: black;
}


.card p {
    margin-bottom: 45px;
    font-size: 12px;
    margin-left: 5px;
    margin-top: 4px;
    font-weight: normal;
}

.card a h4 {
    margin-bottom: 0;
    font-size: 14px;
    margin-top: 4px;
    margin-left: 5px;
    font-weight: normal;
}

.social-stats {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
}

.social-stats img,
.social-stats span {
    display: inline;
    vertical-align: middle;
}

.social-stats img {
    width: 14px;
    height: 12px;
    margin-right: 1px;
    margin-top: 18px;
    margin-left: 16px;
    margin-bottom: 16px;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(127, 255, 212, 0.5);
}


/*************************FOOTER************************/

footer {
    min-height: 20px;
    background-color: #51279B;
    color: white;
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

footer p {
    margin: 0;
}

footer ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin: 0 5px;
}

footer ul li a {
    color: white;
}

/*********************TRAVEL PAGES*********************/


.travel-page {
    padding: 5px 5px;
    background-image: linear-gradient(135deg, #cbcbcb, #c7b8ea, #878787, #959595);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    flex-grow: 1;
}

.page-image {
    max-width: 90%;
    width: 70%;
    height: auto;
    max-height: 425px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

.destination-data {
    width: 80%;
    text-align: center;
    margin-top: 5px;
    display: inline-block;
}

.description {
    font-size: 14px;
    margin: 10px 10px;
}

.destination-data .destination-info {
    font-style: italic;
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.related-container {
    display: flex;
    justify-content: space-between;
    width: 70%;


}

.related-container img {
    width: 23%;
    height: auto;
    max-height: 150px;
    border-radius: 5px;
}

.related-container img,
.page-image {
    transition: box-shadow 0.3s;
    box-shadow: 0 0 10px rgba(74, 16, 99, 0.5);
}

img:hover {
    box-shadow: 0 0 10px rgba(127, 255, 212, 0.5);
}

.arrow a {
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 35%;
    border-radius: 100%;
    transition: box-shadow 0.3s;
    transition: background-color 0.3s;
    transition: background-image 0.3s;
}

.arrow a:hover {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 35%;
    border-radius: 100%;
    transition: box-shadow 0.3s;
    transition: background-color 0.3s;
    transition: background-image 0.3s;
}

.right-arrow {
    background-image: url("images/right-arrows.png");
    right: 5%;
}

.right-arrow:hover {
    background-image: url("images/right-arrows-solid.png");
    right: 5%;
}

.left-arrow {
    background-image: url("images/left-arrows.png");
    left: 5%;
}

.left-arrow:hover {
    background-image: url("images/left-arrows-solid.png");
    left: 5%;
}

/****************************MEDIA QUERIES***********************************/
/*This definately feels like a hacky fix, but the page looks wildly different in on my pc*/
@media only screen and (max-height: 650px) {
    header {
        background-size: 45px;
        padding: 15px 5px;
    }

    header ul {
        font-size: 10px;
    }

    header ul li {
        margin: 0 10px;
    }

    .info {
        margin-top: 50px;
    }

    .info h1 {
        font-size: 26px;
    }

    .info p {
        font-size: 14px;
    }

    .card {
        max-height: 300px;
        min-height: 100px;
    }

    .card p {
        font-size: 8px;
        padding-bottom: 20px;
        margin-bottom: 0;
    }

    .card a h4 {
        font-size: 10px;
    }

    .card-image {
        max-height: 22px;
    }

    .social-stats {
        font-size: 8px;
    }

    .social-stats img {
        width: 8px;
        height: 8px;
        margin-top: 7px;
        margin-left: 5px;
        margin-bottom: 5px;
    }

    .page-image {
        max-height: 325px;
    }

    .description {
        font-size: 12px;
        margin: 0 0;
    }

    .destination-data .destination-info {
        margin-top: 5px;
    }

    .related-container img {
        max-height: 100px;
    }
}

@media only screen and (orientation: landscape) and (min-width: 1410px) {

    body {
        background-color: rgb(180, 190, 190);
    }

    .card {
        min-height: 500px;
        min-width: 400px;
    }

    .destinations-container {

        gap: 30px;
        padding: 30px;
    }

    .card-image {
        min-height: 180px;
        min-width: 350px;
    }

    .home-container {
        min-width: 100vh;
    }

    .container {
        height: auto;
    }

    .card-image {
        max-height: 350px;
        width: 100%;
        border-radius: 5px 5px 0 0;
    }

    .destinations-container {
        margin: 0 10em;
        gap: 36px;
    }

    .page-image {
        width: 50%;
        max-height: 450px;
    }

    .related-container {
        width: 50%;
    }

    .arrow a {
        width: 40px;
        height: 40px;
    }
}